<button class="btn btn-outline-secondary btn-sm" (click)="returnToInvoices()">
  Invoices
</button>
<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        Invoice No
        <span class="badge rounded-pill bg-dark fs-12">{{ item.number }}</span>
      </div>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Qty</th>
          <th scope="col">Item</th>
          <th scope="col">Unity Price</th>
          <th scope="col">Total Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let el of item.items">
          <td>{{el.quantity}}</td>
          <td>{{el.items[0].name}}</td>
          <td>{{el.unitPrice}}</td>
          <td>{{el.totalPrice}}</td>
        </tr>
        <tr>
          <th scope="row" colspan="100%">Sold Items</th>
        </tr>
        <tr>
          <td>{{ item.customer_name }}</td>
          <td>{{ useFormattedMoney(item.total) }}</td>
        </tr>
        <tr>
          <td class="text-end"><b>Total</b></td>
          <td>{{ useFormattedMoney(item.total) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
