<main>
  <section class="container-fluid py-4">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <app-items (selectedItem)="handleSelectedItem($event)"></app-items>
          </div>
        </div>
      </div>
      <div class="col">
        <app-invoices-list
          *ngIf="onInvoicesView"
          (selectedItem)="handleSelectedInvoice($event)"
        ></app-invoices-list>
        <app-active-invoice
          [items]="selectedItems"
          (eventPerfomed)="handlePerformedEvent()"
          *ngIf="!onInvoicesView && !isViewingInvoiceDetails"
        ></app-active-invoice>

        <app-invoice-detail
          [item]="selectedInvoice"
          (eventPerfomed)="handlePerformedEvent()"
          *ngIf="isViewingInvoiceDetails"
        ></app-invoice-detail>
      </div>
    </div>
  </section>
</main>
