<div class="card-header d-flex justify-content-between align-items-center">
  <h5 class="m-0">Invoices</h5>
  <button class="btn btn-secondary btn-sm">Search</button>
</div>

<div class="card-body">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
      </tr> -->
    </tbody>
  </table>
</div>
