<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="m-0">Invoices</h5>
    <button class="btn btn-secondary btn-sm">Search</button>
  </div>

  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Number</th>
          <th scope="col">Customer</th>
          <th scope="col">Total</th>
          <th scope="col">Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of invoices; index as i">
          <th scope="row">{{ item["id"] }}</th>
          <td>{{ item["number"] }}</td>
          <td>{{ item["customerName"] }}</td>
          <td>{{ useFormattedMoney(item["total"]) + " FBu" }}</td>
          <td>{{ item["createdAt"] }}</td>
          <td>
            <button class="btn btn-dark btn-sm" (click)="openDialog(item)">
              Split
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
