<h1 mat-dialog-title>Hi {{ data.customerName }}</h1>
<div mat-dialog-content>
  <div>
    <span>Number of clients: {{ nbClient }}</span>
    <input
      type="number"
      class="form-control"
      size="sm"
      min="1"
      (keyup)="hanlderChange()"
      [(ngModel)]="nbClient"
    />
  </div>
  <table class="table table-striped w-100 mt-2">
    <thead>
      <tr>
        <th scope="col">Article</th>
        <th scope="col">Qt</th>
        <th scope="col" *ngFor="let num of counter(nbClient); let i = index">
          Client {{ i + 1 }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of data.items;let i = index" >
        <td>{{article.items[0].name}}</td>
        <td>{{article.quantity}}</td>
        <td *ngFor="let cli of arr">
          <!-- {{ "item" + (i + 1) }} -->
          <input type="number" [(ngModel)]="cli.items[i].element" [max]="article.quantity" placeholder="0" class="form-control" />
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-secondary btn-sm" (click)="splitInvoice()">Split</button>
</div>
